<li id="comment-<%=comment._id%>">
    <!-- delete option is visible only if signed in user has written comment -->
    <% if(locals.user && locals.user.id==comment.user.id){ %>
        <a class="delete-comment-button" href="/comments/destroy/<%=comment.id%>">X</a>
    <% } %>
    <!-- <a class="delete-comment-button" href="/comments/destroy/<%=comment.id%>">X</a> -->
    <span style="font-size:20px;"> <%= comment.content %> </span>
    <br>
    <span style="font-size:15px;"> <%= comment.user.name %> </span>
    <br>
    
    <!-- CHANGE -->
    <small>
        <% if(locals.user){ %>
            <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle?id=<%=comment._id%>&type=Comment"> <%= comment.likes.length %> Likes </a>
        <% } else{ %>
            <%= comment.likes.length %> Likes
        <% } %>
    </small>
</li>
