<div id="profile-details">
    <p>
        <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" style="height:100px;width:100px">
    </p>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
</div>

<% if(locals.user && locals.user.id == profile_user.id){ %>
    <section>
        <!-- enctype="multipart/form-data" is used to take files as input -->
        <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="POST">
            <input type="text" name="name" placeholder="Your name" style="width:200px;margin:1px;" required>
            <br>
            <input type="text" name="email" placeholder="Your email" style="width:200px;margin:1px;" required>
            <br>
            <input type="file" name="avatar" placeholder="Profile Picture" style="margin:1px;">
            <input type="submit" value="Update">
        </form>
    </section>
<% } %>
